.mosaic-background {
  background-position: 0px 0px, 8px 8px;
  background-size: 16px 16px;
  background-image: linear-gradient(
      45deg,
      #ecf0f5 25%,
      transparent 25%,
      transparent 75%,
      #ecf0f5 75%,
      #ecf0f5 100%
    ),
    linear-gradient(45deg, #ecf0f5 25%, white 25%, white 75%, #ecf0f5 75%, #ecf0f5 100%);
}
